*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;

    .wrapper {
        width: 100%;
    }
}

a {
    text-decoration: none !important;
    color: #000000 !important;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;

    li {
        list-style: none;
    }
}