@media all and (max-width: 1024px) {
    #root {
        .wrapper {
            .header {
                &-action {
                    gap: 2px;

                    li {
                        a {
                            font-size: 11px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
            .nav-menu{
                display: none;
            }
            .main-content{
                margin-top: 69px !important;
                .carousel {
                    &-inner {
                        .carousel-item {
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width: 768px) {
    #root {
        .wrapper {
            .header {
                &-action {
                    gap: 10px;
                    li {
                        a {
                            svg {
                                font-size: 16px;
                            }

                            p {
                                display: none;
                            }
                        }
                    }
                }
            }
            .main-content {
                .carousel {
                    &-inner {
                        .carousel-item {
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    #root {
        .wrapper {
            .header {
                &-form {
                    display: none;
                }

                &-action {
                    gap: 15px;

                    li {
                        a {
                            svg {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .main-content {
                .slick-slider{
                    .slick-list{
                        .slick-track{
                            .product-item{
                                height: 281px;
                                img{
                                    height: 150px;
                                }
                                .item-content{
                                    .title {
                                        .product-name {
                                            font-weight: 700;
                                            font-style: oblique;
                                            font-size: 14px;
                                        }
                                    }
                                    .product-button{
                                        font-size: 12px;
                                        &-inner {
                                            .add-to-cart {
                                                background-color: #ffffff;
                                                border: 1px solid #000000;
                                                padding: 5px 0;
                                    
                                                &:hover {
                                                    background-color: #000000;
                                                    color: #ffffff !important;
                                                }
                                            }
                                    
                                            .view-detail {
                                                padding: 5.5px 4px;
                                                background-color: #000000;
                                                color: #ffffff !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .newproducts{
                    .product-item{
                        &-inner{
                            .item-content{
                                .title{
                                    .product-name{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 375px) {}