@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
    #root{
        .wrapper{
            .header{
                &-action{
                    gap: 10px;
                    li{
                        a{
                            svg{
                                font-size: 16px;
                            }
                            p{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    #root {
        .wrapper {
            .header {
                &-form{
                    display: none;
                }
                &-action{
                    gap: 15px;
                    li{
                        a{
                            svg{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 375px){
}
