#root {
    .wrapper {
        .nav-menu{
            position: fixed;
            top: 69px;
            left: 0px;
            display: flex;
            width: 100%;
            //height: 50px;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            z-index: 2;
            background-color: #21409A;
            li{
                padding: 10px 16px;
                height: max-content;
                .nav-title{
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                    color: #ffffff !important;
                }
                border-right: 1px solid #ffffff;
                &:last-child{
                    border-right: none;
                }
            }
            .room{
                position: relative;
                //display: inline-block;
                .nav-dropdown{
                    width: 247px;
                    margin-left: -17px;
                    margin-top: 11px;
                    position: absolute;
                    background-color: #ffffff;
                    display: none;
                    -webkit-box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
                    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
                    transition: width 2s linear 2s;
                    a{
                        display: block;
                        padding: 12px 14px;
                        background-color: rgba($color: #000000, $alpha: 0.2);
                        &:hover{
                            color: #21409A !important;
                            text-decoration: underline !important;
                        }
                        border: 1px solid #ffffff;
                        border-top: none;
                    }
                }
                &:hover{
                    .nav-dropdown{
                        display: block;
                        z-index: 3;
                    }
                }
            }
        }

        .main-content {
            margin-top: 114px !important;

            .loginForm, .recoverForm {
                font-style: italic;

                input {
                    width: 100% !important;
                }

                a {
                    text-decoration: underline !important;

                    &:hover {
                        color: #368090 !important;
                    }
                }

                .formFieldError {
                    border: 1px solid #e11d48;
                }

                .formFieldErrorMessage {
                    color: #e11d48;
                }

                .formSubmitBtn {
                    padding: 5px 0;
                    border-radius: 10px;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .registerForm {
                font-style: italic;

                input {
                    width: 100% !important;
                }

                a {
                    text-decoration: underline !important;

                    &:hover {
                        color: #368090 !important;
                    }
                }

                .formFieldError {
                    border: 1px solid #e11d48;
                }

                .formFieldErrorMessage {
                    color: #e11d48;
                }

                .formSubmitBtn {
                    padding: 5px 0;
                    border-radius: 10px;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .carousel{
                .carousel-indicators{
                    z-index: 1;
                }
                &-inner{
                    .carousel-item{
                        width: 100%;
                        height: 578px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            &-inner{
                .topCategories {
                    margin-top: 30px;
            
                    .slick-slider {
                        .slick-arrow {
                            &::before {
                                color: #000000;
                            }
                        }
            
                        .slick-prev.slick-disabled:before,
                        .slick-next.slick-disabled:before {
                            opacity: 0;
                        }
                    }
                    .slick-slide{
                        padding: 0 5px;
                        .product-item {
                            height: 331px;
                            img {
                                width: 100%;
                                height: 200px;
                                object-fit: cover;
                            }
                            .item-content{
                                padding: 0 5px;
                                text-align: start;
                                .title{
                                    height: 50px;
                                    padding: 0 5px;
                                }
                                .price{
                                    padding: 0 5px !important;
                                }
                                .product-button{
                                    display: none;
                                    padding: 0 5px;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    &-inner{
                                        .add-to-cart {
                                            background-color: #ffffff;
                                            border: 1px solid #000000;
                                            padding: 5px 7px;
                                    
                                            &:hover {
                                                background-color: #000000;
                                                color: #ffffff !important;
                                            }
                                        }
                                    
                                        .view-detail {
                                            padding: 5.5px 16px;
                                            background-color: #000000;
                                            color: #ffffff !important;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                width: calc(100% - 2px);
                                border: 1px solid rgba($color: #000000, $alpha: 0.2);
                                cursor: pointer;
                                img{
                                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
                                }
                                .product-button{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .newproducts{
                    .product-item{
                        padding: 5px 5px;
                        &-inner{
                            border: 1px solid rgba($color: #000000, $alpha: 0.2);
                            img {
                                width: 100%;
                                height: 200px;
                                object-fit: cover;
                            }
                            .item-content{
                                .title, .price, .product-button{
                                    padding: 0 10px !important;
                                }
                                .title{
                                    .product-name{
                                        height: 50px;
                                    }
                                    svg{
                                        padding-top: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}