*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}
#root .wrapper {
  width: 100%;
}
#root .wrapper .main-content {
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

#root .wrapper .header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#root .wrapper .header-logo img {
  width: 30px;
}
#root .wrapper .header-logo p {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
#root .wrapper .header-form {
  padding: 0 30px !important;
}
#root .wrapper .header-form input {
  padding: 5px 20px !important;
  border-radius: 25px;
}
#root .wrapper .header-action {
  gap: 5px;
}
#root .wrapper .header-action li a {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#root .wrapper .header-action li a svg {
  margin-right: 2px;
}
#root .wrapper .header-action li a p {
  text-transform: uppercase;
}

#root .wrapper .nav-menu {
  position: fixed;
  top: 69px;
  left: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: #21409A;
}
#root .wrapper .nav-menu li {
  padding: 10px 16px;
  height: max-content;
  border-right: 1px solid #ffffff;
}
#root .wrapper .nav-menu li .nav-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff !important;
}
#root .wrapper .nav-menu li:last-child {
  border-right: none;
}
#root .wrapper .nav-menu .room {
  position: relative;
}
#root .wrapper .nav-menu .room .nav-dropdown {
  width: 247px;
  margin-left: -17px;
  margin-top: 11px;
  position: absolute;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
  transition: width 2s linear 2s;
}
#root .wrapper .nav-menu .room .nav-dropdown a {
  display: block;
  padding: 12px 14px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  border-top: none;
}
#root .wrapper .nav-menu .room .nav-dropdown a:hover {
  color: #21409A !important;
  text-decoration: underline !important;
}
#root .wrapper .nav-menu .room:hover .nav-dropdown {
  display: block;
  z-index: 3;
}
#root .wrapper .main-content {
  margin-top: 114px !important;
}
#root .wrapper .main-content .loginForm, #root .wrapper .main-content .recoverForm {
  font-style: italic;
}
#root .wrapper .main-content .loginForm input, #root .wrapper .main-content .recoverForm input {
  width: 100% !important;
}
#root .wrapper .main-content .loginForm a, #root .wrapper .main-content .recoverForm a {
  text-decoration: underline !important;
}
#root .wrapper .main-content .loginForm a:hover, #root .wrapper .main-content .recoverForm a:hover {
  color: #368090 !important;
}
#root .wrapper .main-content .loginForm .formFieldError, #root .wrapper .main-content .recoverForm .formFieldError {
  border: 1px solid #e11d48;
}
#root .wrapper .main-content .loginForm .formFieldErrorMessage, #root .wrapper .main-content .recoverForm .formFieldErrorMessage {
  color: #e11d48;
}
#root .wrapper .main-content .loginForm .formSubmitBtn, #root .wrapper .main-content .recoverForm .formSubmitBtn {
  padding: 5px 0;
  border-radius: 10px;
  opacity: 0.8;
}
#root .wrapper .main-content .loginForm .formSubmitBtn:hover, #root .wrapper .main-content .recoverForm .formSubmitBtn:hover {
  opacity: 1;
}
#root .wrapper .main-content .registerForm {
  font-style: italic;
}
#root .wrapper .main-content .registerForm input {
  width: 100% !important;
}
#root .wrapper .main-content .registerForm a {
  text-decoration: underline !important;
}
#root .wrapper .main-content .registerForm a:hover {
  color: #368090 !important;
}
#root .wrapper .main-content .registerForm .formFieldError {
  border: 1px solid #e11d48;
}
#root .wrapper .main-content .registerForm .formFieldErrorMessage {
  color: #e11d48;
}
#root .wrapper .main-content .registerForm .formSubmitBtn {
  padding: 5px 0;
  border-radius: 10px;
  opacity: 0.8;
}
#root .wrapper .main-content .registerForm .formSubmitBtn:hover {
  opacity: 1;
}
#root .wrapper .main-content .carousel .carousel-indicators {
  z-index: 1;
}
#root .wrapper .main-content .carousel-inner .carousel-item {
  width: 100%;
  height: 578px;
}
#root .wrapper .main-content .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#root .wrapper .main-content-inner .topCategories {
  margin-top: 30px;
}
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-arrow::before {
  color: #000000;
}
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-prev.slick-disabled:before,
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-next.slick-disabled:before {
  opacity: 0;
}
#root .wrapper .main-content-inner .topCategories .slick-slide {
  padding: 0 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item {
  height: 331px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content {
  padding: 0 5px;
  text-align: start;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title {
  height: 50px;
  padding: 0 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .price {
  padding: 0 5px !important;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button {
  display: none;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 14px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .add-to-cart {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 7px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000000;
  color: #ffffff !important;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .view-detail {
  padding: 5.5px 16px;
  background-color: #000000;
  color: #ffffff !important;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item:hover {
  width: calc(100% - 2px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item:hover img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item:hover .product-button {
  display: block;
}
#root .wrapper .main-content-inner .newproducts .product-item {
  padding: 5px 5px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#root .wrapper .main-content-inner .newproducts .product-item-inner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title, #root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price, #root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button {
  padding: 0 10px !important;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title .product-name {
  height: 50px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title svg {
  padding-top: 5px;
}

@media all and (max-width: 1024px) {
  #root .wrapper .header-action {
    gap: 2px;
  }
  #root .wrapper .header-action li a {
    font-size: 11px;
    letter-spacing: 1px;
  }
  #root .wrapper .nav-menu {
    display: none;
  }
  #root .wrapper .main-content {
    margin-top: 69px !important;
  }
  #root .wrapper .main-content .carousel-inner .carousel-item {
    height: 400px;
  }
}
@media all and (max-width: 768px) {
  #root .wrapper .header-action {
    gap: 10px;
  }
  #root .wrapper .header-action li a svg {
    font-size: 16px;
  }
  #root .wrapper .header-action li a p {
    display: none;
  }
  #root .wrapper .main-content .carousel-inner .carousel-item {
    height: 300px;
  }
}
@media all and (max-width: 576px) {
  #root .wrapper .header-form {
    display: none;
  }
  #root .wrapper .header-action {
    gap: 15px;
  }
  #root .wrapper .header-action li a svg {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
