*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#root .wrapper {
  width: 100%;
  height: 100%;
}
#root .wrapper .main-content {
  width: 100%;
}

.activeNav {
  transform: translateX(100%);
  transition: all 1.5s;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

#root .wrapper .header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 3;
}
#root .wrapper .header-logo .menu-bars {
  display: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 24px;
  margin-right: 10px !important;
}
#root .wrapper .header-logo img {
  width: 30px;
}
#root .wrapper .header-logo p {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
#root .wrapper .header-form {
  padding: 0 30px !important;
  min-width: 0;
}
#root .wrapper .header-form input {
  padding: 5px 20px !important;
  border-radius: 25px;
}
#root .wrapper .header-action {
  gap: 5px;
}
#root .wrapper .header-action li a {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#root .wrapper .header-action li a svg {
  margin-right: 2px;
}
#root .wrapper .header-action li a p {
  text-transform: uppercase;
}
#root .wrapper .header-action .account-section {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  height: fit-content;
}
#root .wrapper .header-action .account-section svg {
  margin-right: 2px;
}
#root .wrapper .header-action .account-section p {
  text-transform: uppercase;
}
#root .wrapper .header-action .account-section p:hover {
  cursor: pointer;
}
#root .wrapper .header-action .account-section .accounts-choice {
  display: none;
  width: max-content;
  position: absolute;
  background-color: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px, rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
}
#root .wrapper .header-action .account-section .accounts-choice li {
  padding: 10px 10px;
}
#root .wrapper .header-action .account-section:hover .accounts-choice {
  display: block;
}

#root .wrapper .nav-menu {
  position: fixed;
  top: 69px;
  left: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: #21409A;
}
#root .wrapper .nav-menu li {
  padding: 10px 16px;
  height: max-content;
  border-right: 1px solid #ffffff;
}
#root .wrapper .nav-menu li .nav-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff !important;
}
#root .wrapper .nav-menu li:last-child {
  border-right: none;
}
#root .wrapper .nav-menu .room {
  position: relative;
}
#root .wrapper .nav-menu .room .nav-dropdown {
  width: 247px;
  margin-left: -17px;
  margin-top: 11px;
  position: absolute;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
  transition: width 2s linear 2s;
}
#root .wrapper .nav-menu .room .nav-dropdown a {
  display: block;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  border-top: none;
}
#root .wrapper .nav-menu .room .nav-dropdown a:hover {
  color: #21409A !important;
  text-decoration: underline !important;
}
#root .wrapper .nav-menu .room:hover .nav-dropdown {
  display: block;
  z-index: 3;
}
#root .wrapper .main-content {
  margin-top: 114px !important;
}
#root .wrapper .main-content .loginForm,
#root .wrapper .main-content .recoverForm {
  height: calc(100vh - 114px - 48px);
  font-style: italic;
}
#root .wrapper .main-content .loginForm input,
#root .wrapper .main-content .recoverForm input {
  width: 100% !important;
}
#root .wrapper .main-content .loginForm a,
#root .wrapper .main-content .recoverForm a {
  text-decoration: underline !important;
}
#root .wrapper .main-content .loginForm a:hover,
#root .wrapper .main-content .recoverForm a:hover {
  color: #368090 !important;
}
#root .wrapper .main-content .loginForm .formFieldError,
#root .wrapper .main-content .recoverForm .formFieldError {
  border: 1px solid #e11d48;
}
#root .wrapper .main-content .loginForm .formFieldErrorMessage,
#root .wrapper .main-content .recoverForm .formFieldErrorMessage {
  color: #e11d48;
}
#root .wrapper .main-content .loginForm .formSubmitBtn,
#root .wrapper .main-content .recoverForm .formSubmitBtn {
  padding: 5px 0;
  border-radius: 10px;
  opacity: 0.8;
}
#root .wrapper .main-content .loginForm .formSubmitBtn:hover,
#root .wrapper .main-content .recoverForm .formSubmitBtn:hover {
  opacity: 1;
}
#root .wrapper .main-content .registerForm {
  height: calc(100vh - 114px - 48px);
  font-style: italic;
}
#root .wrapper .main-content .registerForm input {
  width: 100% !important;
}
#root .wrapper .main-content .registerForm a {
  text-decoration: underline !important;
}
#root .wrapper .main-content .registerForm a:hover {
  color: #368090 !important;
}
#root .wrapper .main-content .registerForm .formFieldError {
  border: 1px solid #e11d48;
}
#root .wrapper .main-content .registerForm .formFieldErrorMessage {
  color: #e11d48;
}
#root .wrapper .main-content .registerForm .formSubmitBtn {
  padding: 5px 0;
  border-radius: 10px;
  opacity: 0.8;
}
#root .wrapper .main-content .registerForm .formSubmitBtn:hover {
  opacity: 1;
}
#root .wrapper .main-content .register-page .fst-italic {
  height: calc(100vh - 114px);
}
#root .wrapper .main-content .carousel .carousel-indicators {
  z-index: 1;
}
#root .wrapper .main-content .carousel-inner .carousel-item {
  width: 100%;
  height: calc(100vh - 114px);
}
#root .wrapper .main-content .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#root .wrapper .main-content-inner .topCategories {
  margin-top: 30px;
}
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-arrow::before {
  color: #000000;
}
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-prev.slick-disabled:before,
#root .wrapper .main-content-inner .topCategories .slick-slider .slick-next.slick-disabled:before {
  opacity: 0;
}
#root .wrapper .main-content-inner .topCategories .slick-slide {
  padding: 0 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item {
  height: 331px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content {
  padding: 0 5px;
  text-align: start;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title {
  height: 50px;
  padding: 0 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title .product-name {
  font-weight: 700;
  font-style: oblique;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title span {
  margin-left: 10px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title span:hover {
  cursor: pointer;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .title svg {
  margin-top: 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .price {
  padding: 0 5px !important;
  color: #ff0000;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button {
  display: none;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 14px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner {
  font-size: 14px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .add-to-cart {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 7px !important;
  border-radius: 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000000;
  color: #ffffff !important;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item .item-content .product-button-inner .buy-now {
  padding: 5.5px 16px !important;
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 5px;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item:hover {
  cursor: pointer;
}
#root .wrapper .main-content-inner .topCategories .slick-slide .product-item:hover .product-button {
  display: block;
}
#root .wrapper .main-content-inner .newproducts {
  margin-top: 30px;
}
#root .wrapper .main-content-inner .newproducts .product-item {
  padding: 5px 5px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button {
  padding: 0 10px !important;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title-inner,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price-inner,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button-inner {
  font-size: 16px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title-inner .add-to-cart,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price-inner .add-to-cart,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button-inner .add-to-cart {
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px 7px !important;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title-inner .add-to-cart:hover,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price-inner .add-to-cart:hover,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000;
  color: #fff !important;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title-inner .buy-now,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price-inner .buy-now,
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .product-button-inner .buy-now {
  background-color: #000;
  border-radius: 10px;
  color: #fff !important;
  padding: 4px 7px !important;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title .product-name {
  height: 50px;
  width: calc(100% - 60px);
  font-weight: 700;
  font-style: oblique;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title span {
  margin-left: 10px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title span:hover {
  cursor: pointer;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .title svg {
  padding-top: 5px;
}
#root .wrapper .main-content-inner .newproducts .product-item-inner .item-content .price {
  color: #ff0000;
}
#root .wrapper .main-content-inner .trending-style {
  background-color: #F6F6F6;
}
#root .wrapper .main-content-inner .trending-style .container {
  padding: 70px 0;
}
#root .wrapper .main-content-inner .trending-style .container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #252525;
  font-weight: 500;
  line-height: 1.3;
}
#root .wrapper .main-content-inner .trending-style .container .trending-content img {
  width: 100%;
  object-fit: cover;
}
#root .wrapper .main-content-inner .trending-style .container .trending-content .text-center .hp-section--3up__title {
  color: #252525;
  font-family: Brandon Grotesque, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 28px;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}
#root .wrapper .main-content-inner .trending-style .container .trending-content .text-center .hp-section--3up__text {
  color: #666;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
}
#root .wrapper .main-content-inner .list-icon {
  margin-top: 50px;
}
#root .wrapper .main-content-inner .list-icon .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#root .wrapper .main-content-inner .list-icon img {
  width: 100%;
  object-fit: cover;
}
#root .wrapper .main-content-inner .list-icon .section__title--small.center {
  color: #252525;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 2;
  margin: 0 0 16px;
  text-transform: uppercase;
}
#root .wrapper .main-content-inner .shopify-section .container .row {
  padding: 50px 0;
}
#root .wrapper .main-content-inner .shopify-section .container .row .shopify-item p {
  color: #252525;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 28px;
  text-transform: uppercase;
}
#root .wrapper .main-content .wish_list .product-item {
  padding: 5px 5px;
}
#root .wrapper .main-content .wish_list .product-item-inner {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#root .wrapper .main-content .wish_list .product-item-inner .delete-item {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.7);
}
#root .wrapper .main-content .wish_list .product-item-inner .delete-item svg {
  font-size: 20px;
}
#root .wrapper .main-content .wish_list .product-item-inner .delete-item:hover {
  cursor: pointer;
}
#root .wrapper .main-content .wish_list .product-item-inner img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content {
  padding: 0 10px;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .title .product-name {
  height: 70px;
  font-weight: 600;
  font-style: italic;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .price {
  color: #ff0000;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .product-button-inner {
  font-size: 16px;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .product-button-inner .add-to-cart {
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000;
  color: #fff !important;
}
#root .wrapper .main-content .wish_list .product-item-inner .item-content .product-button-inner .buy-now {
  background-color: #000;
  border-radius: 10px;
  color: #fff !important;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .wish_list .product-item-inner:hover .delete-item {
  display: block;
}
#root .wrapper .main-content .wish_list ul {
  margin-top: 30px !important;
  text-transform: uppercase;
  display: flex;
}
#root .wrapper .main-content .wish_list ul li {
  padding: 5px 10px;
}
#root .wrapper .main-content .wish_list ul li a {
  font-weight: 700;
  color: #21409A !important;
}
#root .wrapper .main-content .wish_list ul .disabled a,
#root .wrapper .main-content .wish_list ul .selected a {
  color: #666666 !important;
}
#root .wrapper .main-content .page-404 {
  height: calc(100vh - 114px);
}
#root .wrapper .main-content .product-page .product-detail .product-breadcrum {
  padding-top: 50px;
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
}
#root .wrapper .main-content .product-page .product-detail .product-breadcrum ul li a {
  color: #bbbbbb !important;
}
#root .wrapper .main-content .product-page .product-detail .display-product-img img {
  width: 100%;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content {
  padding-left: 30px;
  border-left: 1px solid #dddddd;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content h3 {
  font-weight: 700;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content .price {
  color: #ff0000;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content p {
  padding: 5px 0 !important;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content p:last-child {
  margin-bottom: 30px;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content a {
  background-color: yellow;
  padding: 10px;
  text-transform: uppercase;
  color: #22419A !important;
  font-weight: 700;
  font-size: 18px;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content input {
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#root .wrapper .main-content .product-page .product-detail .display-product-content button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  background: yellow;
  color: rgb(34, 65, 154);
}
#root .wrapper .main-content .product-page .product-detail .display-description {
  margin-top: 50px;
}
#root .wrapper .main-content .product-page .product-detail .display-description h3 {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}
#root .wrapper .main-content .product-page .product-detail .display-description p::first-line {
  font-weight: 700;
  font-size: 1.6vw;
  font-style: italic;
}
#root .wrapper .main-content .product-page .product-detail .display-description .description-content {
  white-space: pre-line;
}
#root .wrapper .main-content .product-cate {
  padding-top: 30px;
}
#root .wrapper .main-content .product-cate .product-breadcrum {
  border-bottom: 1px solid #dddddd;
}
#root .wrapper .main-content .product-cate .product-breadcrum ul li a {
  color: #666666 !important;
}
#root .wrapper .main-content .product-cate .title {
  border-bottom: 1px solid #bbbbbb;
}
#root .wrapper .main-content .product-cate .list-categories .active_cate {
  color: #22419A !important;
}
#root .wrapper .main-content .product-cate .list-categories a {
  display: block;
}
#root .wrapper .main-content .product-cate .list-categories a:hover {
  text-decoration: underline !important;
}
#root .wrapper .main-content .product-cate .all-product-cate img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item {
  padding: 10px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .pro-title {
  height: 50px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .pro-title .product-name {
  font-weight: 700;
  font-style: italic;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .pro-title span {
  margin-left: 10px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .price {
  color: #ff0000;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .product-button-inner {
  font-size: 16px;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .product-button-inner .add-to-cart {
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000;
  color: #fff !important;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate .product-item-inner .item-content .product-button-inner .buy-now {
  background-color: #000;
  border-radius: 10px;
  color: #fff !important;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate ul {
  margin-top: 30px !important;
  text-transform: uppercase;
  display: flex;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate ul li a {
  padding: 5px 10px !important;
  font-weight: 700;
  color: #21409A !important;
}
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate ul .disabled a,
#root .wrapper .main-content .product-cate .all-product-cate .display-product-cate ul .selected a {
  color: #666666 !important;
}
#root .wrapper .main-content .display-cart {
  min-height: calc(100vh - 114px);
}
#root .wrapper .main-content .display-cart img {
  width: 100%;
  object-fit: cover;
}
#root .wrapper .main-content .display-cart input {
  padding: 2px 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#root .wrapper .main-content .display-cart span:hover {
  cursor: pointer;
}
#root .wrapper .main-content .display-cart .update-cart-btn {
  position: relative;
  height: 28px;
}
#root .wrapper .main-content .display-cart .update-cart-btn button {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}
#root .wrapper .main-content .display-cart .order-summary-inner {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}
#root .wrapper .main-content .display-cart .order-summary-inner .paypal-buttons.paypal-buttons-context-iframe.paypal-buttons-label-unknown.paypal-buttons-layout-vertical {
  z-index: 1;
}
#root .wrapper .main-content .display-cart .order-summary-inner .thanh-toan {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #368090;
}
#root .wrapper .main-content .search-product {
  min-height: calc(100vh - 114px);
}
#root .wrapper .main-content .search-product .product-item {
  padding: 5px;
}
#root .wrapper .main-content .search-product .product-item-inner {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#root .wrapper .main-content .search-product .product-item-inner .delete-item {
  display: none;
}
#root .wrapper .main-content .search-product .product-item-inner img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .title .product-name {
  height: 70px;
  font-weight: 600;
  font-style: italic;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .price {
  color: #ff0000;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .product-button-inner {
  font-size: 16px;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .product-button-inner .add-to-cart {
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .product-button-inner .add-to-cart:hover {
  background-color: #000;
  color: #fff !important;
}
#root .wrapper .main-content .search-product .product-item-inner .item-content .product-button-inner .buy-now {
  background-color: #000;
  border-radius: 10px;
  color: #fff !important;
  padding: 4px 7px !important;
}
#root .wrapper .main-content .search-product ul {
  margin-top: 30px !important;
  text-transform: uppercase;
  display: flex;
}
#root .wrapper .main-content .search-product ul li {
  padding: 5px 10px;
}
#root .wrapper .main-content .search-product ul li a {
  font-weight: 700;
  color: #21409A !important;
}
#root .wrapper .main-content .search-product ul .disabled a,
#root .wrapper .main-content .search-product ul .selected a {
  color: #666666 !important;
}
#root .wrapper .main-content .order-history {
  min-height: calc(100vh - 114px);
}
#root .wrapper .main-content .order-history-header {
  border-radius: 10px 10px 0 0;
  background-color: #eee;
}
#root .wrapper .main-content .order-history-header .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  cursor: pointer;
}
#root .wrapper .main-content .order-history-header .active-choice {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  background-color: #fff;
}
#root .wrapper .main-content .order-history-content {
  margin-top: 30px;
}
#root .wrapper .main-content .order-history-content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#root .wrapper .footer-section {
  position: relative;
  bottom: 0px;
  background-color: #F6F6F6;
}
#root .wrapper .footer-section .container {
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#root .wrapper .footer-section .container strong {
  letter-spacing: 2px;
}
#root .wrapper .footer-section .container .list-contact {
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #252525;
}
#root .wrapper .footer-section .container .list-contact li {
  margin: 20px 0;
}
#root .wrapper .footer-section .container .list-contact li a:hover {
  color: #368090 !important;
  text-decoration: underline !important;
}
#root .wrapper .footer-section .container .part-text {
  padding-bottom: 20px;
}
#root .wrapper .footer-section .container .part-text p {
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #666666;
  padding: 15px 0 !important;
}
#root .wrapper .footer-section .container .social-media {
  gap: 20px;
}
#root .wrapper .footer-section .container .social-media svg {
  opacity: 0.5;
}
#root .wrapper .footer-section .container .social-media svg:hover {
  opacity: 1;
  cursor: pointer;
}
#root .wrapper .footer-section .container:last-child {
  padding: 10px 0 !important;
}
#root .wrapper .footer-section .container:last-child p {
  color: #666666;
}

@media all and (max-width: 1024px) {
  #root .wrapper .header-logo .menu-bars {
    display: block;
  }
  #root .wrapper .header-logo p {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
  }
  #root .wrapper .header-action {
    gap: 2px;
  }
  #root .wrapper .header-action li a {
    font-size: 11px;
    letter-spacing: 1px;
  }
  #root .wrapper .nav-menu {
    overflow-y: auto;
    position: absolute;
    left: -250px;
    flex-direction: column;
    width: 250px;
    height: calc(100vh - 63px);
    top: 63px;
    justify-content: start;
    align-items: start;
    font-size: 14px;
  }
  #root .wrapper .nav-menu .room {
    border: none;
    height: 44px;
    width: 100%;
  }
  #root .wrapper .nav-menu .room .nav-dropdown {
    position: static;
    display: none;
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #root .wrapper .nav-menu .room .nav-dropdown a {
    padding: 12px 14px 12px 40px;
    color: #ffffff !important;
    background-color: inherit;
    border: none;
  }
  #root .wrapper .nav-menu .room .nav-dropdown a:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
  }
  #root .wrapper .nav-menu .room:hover {
    height: max-content;
  }
  #root .wrapper .nav-menu .room:hover .nav-dropdown {
    display: block;
  }
  #root .wrapper .main-content {
    margin-top: 63px !important;
  }
  #root .wrapper .main-content .loginForm,
  #root .wrapper .main-content .recoverForm {
    height: calc(100vh - 63px - 48px);
  }
  #root .wrapper .main-content .carousel-inner .carousel-item {
    height: 400px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button {
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  .activeNav {
    transition: all 0s;
  }
  #root .wrapper .header-action {
    gap: 10px;
  }
  #root .wrapper .header-action li a svg {
    font-size: 16px;
  }
  #root .wrapper .header-action li a p {
    display: none;
  }
  #root .wrapper .header-action .account-section svg {
    font-size: 16px;
  }
  #root .wrapper .header-action .account-section p {
    display: none;
  }
  #root .wrapper .header-action .account-section .accounts-choice {
    left: -70px;
  }
  #root .wrapper .main-content .carousel-inner .carousel-item {
    height: 300px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item {
    height: 281px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item img {
    height: 150px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .title .product-name {
    font-weight: 700;
    font-style: oblique;
    font-size: 14px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button {
    font-size: 10px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .add-to-cart {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px 0;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .add-to-cart:hover {
    background-color: #000000;
    color: #ffffff !important;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .view-detail {
    padding: 5.5px 4px;
    background-color: #000000;
    color: #ffffff !important;
  }
}
@media all and (max-width: 576px) {
  #root .wrapper .header-form {
    display: none;
  }
  #root .wrapper .header-action {
    gap: 15px;
  }
  #root .wrapper .header-action li a svg {
    font-size: 18px;
  }
  #root .wrapper .header-action .account-section svg {
    font-size: 18px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item {
    height: 281px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item img {
    height: 150px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .title .product-name {
    font-weight: 700;
    font-style: oblique;
    font-size: 14px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button {
    display: none;
    font-size: 12px;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .add-to-cart {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 5px 0;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .add-to-cart:hover {
    background-color: #000000;
    color: #ffffff !important;
  }
  #root .wrapper .main-content .slick-slider .slick-list .slick-track .product-item .item-content .product-button-inner .view-detail {
    padding: 5.5px 4px;
    background-color: #000000;
    color: #ffffff !important;
  }
  #root .wrapper .main-content .newproducts .product-item-inner .item-content .title .product-name {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
